# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Environment variables
.env
.env.local
.env.*.local

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Optional stylelint cache
.stylelintcache